.hidden {
  display: none;
}

body {
  background-color: #d0f6bf;
  color: #3a3a3a;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

/* Center the page title */
h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  color: #746ee3;
}

.custom-card {
  font-size: 0.9rem;
  max-width: 320px;
}

.row.justify-content-end {
  margin-right: 20px;
}

/* Alert */
#userJoinAlert {
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
}
/* User List Container */
#userListContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 180px;
  max-height: 150px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#userListContainer::-webkit-scrollbar {
  width: 8px;
}
#userListContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#userListContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#userListContainer li {
  border-bottom: 1px solid #ddd;
}
#userListContainer li:last-child {
  border-bottom: none;
}

#userListContainer li input {
  display: none;
}

#userListContainer li label {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#userListContainer li input:checked + label {
  background-color: #746ee3;
  color: white;
  font-weight: bold;
}

/* Message Form */
#messageFormContainer {
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
}
#messageFormContainer input[type="text"] {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.send-button {
  background-color: #746ee3;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.send-button:hover {
  background-color: #5c56c5;
}

/* Login Form Styles */
#loginButton {
  background-color: #746ee3;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
#loginButton:hover {
  background-color: #5c56c5;
}

#messagesContainer {
  margin: 20px auto;
  max-width: 400px;
}

.message-box {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 0.9rem;
}

.message-header {
  font-weight: bold;
  color: #5c56c5;
  background-color: #f4f4ff;
  padding: 4px 8px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #ddd;
}

.message-body {
  padding: 8px;
  background-color: #ffffff;
}
